/*在引入了这个CSS样式后，直接在名为body的标签设定样式*/
body{
    background-color:#bce8f1;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
/*这个是将已经存在样样式复用，不影响其原来的样式*/
.media-object{
    width: 38px;
    height: 38px;
}

.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*相当于两个作用域，需要在一个大标签中样式填profile，其中小标签样式填section，.profile.section好像不行*/
.section{
    margin-top: 15px;
}